h1 {
  color: #000;
  margin-left: 2%;
}

.upgrade {
  background-color: #0000FF; 
  color: #FFFFFF;
}

.upgrade:hover {
  background-color: #4343ff; 
}

.upgrade:active {
  background-color: #0000FF; 
}

.container {
  display: flex;
  margin: 2%;
}

button {
  width: 100px;
  height: 100px;
  border-color: #888;
  background-color: #555;
  border-style: solid;
  border-radius: 8px;
}

button:hover {
  border-color: #FFFFFF;
  background-color: #777;
}

button:active {
  background-color: #555;
  
}

body {
  background-color: #888;
}
